* {
  text-align: center;
  font-family: helvetica;
}

.toplinks {

  font-weight: bold;
  color: white;
  background-image: url("/binarybrickslogo.jpg");
  background-position: center;
  background-size: cover;
}
